<header>
    <h1>Welcome to API</h1>
</header>
<div class="container">
    <button onclick="location.href='/api/products'">Go to Products</button>
    <button onclick="location.href='/api/carts'">Go to Carts</button>
</div>

